<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BFF.DataVirtualizingCollection" version="2.0.1" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="3.8.1" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.SfChart.WPF" version="18.1.0.42" targetFramework="net461" />
  <package id="Syncfusion.Xamarin.Core" version="18.1.0.42" targetFramework="net461" />
  <package id="System.Reactive" version="4.4.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Toolkit.Charting" version="1.0.5755.26422" targetFramework="net461" />
  <package id="Toolkit.CodeBase" version="1.0.5755.26406" targetFramework="net461" />
  <package id="Toolkit.CommonResources" version="1.0.5752.30666" targetFramework="net461" />
  <package id="Toolkit.Data" version="1.0.5755.26407" targetFramework="net461" />
  <package id="Toolkit.Drawing" version="1.0.5755.26408" targetFramework="net461" />
  <package id="Toolkit.Runtime" version="1.0.5755.26410" targetFramework="net461" />
  <package id="Toolkit.Scripting" version="1.0.5755.26411" targetFramework="net461" />
  <package id="Xamarin.Forms" version="3.6.0.344457" targetFramework="net461" />
  <package id="XamlAnimatedGif" version="1.2.2" targetFramework="net461" />
</packages>